.thumbnail img {
	max-height: 140px;
}

.thumbnail .description {
	color: #7f7f7f;
	font-size: 14px;
}

.price {
	font-weight: bold;
	font-size: 16px;
}

.title {
	font-weight: bold;
	font-size: 22px;
}